@font-face {
    font-family: Cambria;
    src: url(fonts/cambria.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Cambria;
    src: url(fonts/cambria-bold.ttf);
    font-weight: bold;
}

.card {
	width: 1000px;
	height: 480px;
	margin: auto;
	background-color: #ffffff;
}

body {
	background-image: url(images/fundo.jpg);
	font-family: Cambria;
}

h1 {
	text-align: center;
	color: #ffffff;
}

header {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #ffffff;
	font-family: Cambria;
	font-size: 40;
}

footer {
	width: 985px;
	background-color: #ffffff;
	margin: auto;
	padding: 10px;
	text-align: right;
}